:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-bg-color-filter: #f5f4fa;
  --prinary-font-family: 'Roboto', sant-serif;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--prinary-font-family);
  margin: 0px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header_container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sant-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo_logo-color_accent {
  color: #2196f3;
}

.logo_color_black {
  color: #000000;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover, .menu-link:focus {
  color: var(--accent-color);
}

.menu_position_bottom-border {
  position: relative;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.after-item::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.menu-link .current {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .contact-list__item + .contact-list__item {
  margin-left: 50px;
}

.contact-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  vertical-align: middle;
}

.contact-list__link:hover .contact-list__icon {
  fill: var(--accent-color);
}

.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.menu-link,
.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer_position-tablet {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer__adress {
    display: inline-block;
  }
}

.footer-list .footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-set {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-set {
    margin-left: 70px;
  }
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-icon {
    margin-bottom: 60px;
  }
}

.footer-list__item:not(:first-child) {
  margin-left: 10px;
}

.footer-icon__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: var(--accent-color);
}

.logo_color_white {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0px;
  }
}

.adress-text {
  color: #ffffff;
  margin-bottom: 9px;
}

.hero {
  background-color: #2f303a;
  color: var(--primary-bg-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Heading-img.png);
  background-position: center;
}

@media screen and (min-width: 480px) {
  .overlay {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.png);
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background_images/overlay.png);
    width: 1200px;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.hidden {
  display: none;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200) {
  .features-list {
    display: flex;
  }
}

.features-list__position {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__position {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__position {
    flex-basis: calc((100% - 120px) / 4);
    width: 270px;
    margin-bottom: 0px;
  }
}

.features-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color-filter);
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  margin-top: 0px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container-work-activity {
  padding-bottom: 94px;
  padding-top: 47px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .container-work-activity {
    display: block;
  }
}

.career {
  display: flex;
  justify-content: space-between;
}

.career__item {
  position: relative;
}

.career__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.container-work-activity__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section {
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: center;
  }
}

.team-list__item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
    flex-basis: calc((100%-60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
    margin-bottom: 0px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list_position {
  margin: 30px 30px 16px 30px;
}

.icon-set {
  display: flex;
  padding-bottom: 24px;
  justify-content: center;
}

@media screen and (min-width: 768) {
  .icon-set {
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
}

.icon-set__link {
  background-color: #fff;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-set__link:not(:first-child) {
  margin-left: 10px;
}

.icon-set__link:hover, .icon-set__link:focus {
  background-color: var(--accent-color);
  fill: white;
}

.client-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .client-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-client {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-client {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client-list__item {
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 180px) / 6);
    margin-bottom: 0px;
  }
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:focus, .client-list__link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-of-our-works {
  display: flex;
  flex-wrap: wrap;
}

.list-of-our-works .img {
  display: block;
}

.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.filter-box {
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover .wrapper,
.filter-link:focus .wrapper {
  transform: translateY(0%);
}

.description-of-work-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.filter-link {
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  border: 1px solid #eeeeee;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:focus, .filter-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-item:nth-child(3n) {
  margin-right: 0px;
}

.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:first-child) {
  margin-left: 8px;
}

.filter-btn {
  height: 38px;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--primary-bg-color-filter);
  color: var(--secondary-text-color);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.list-of-our-works .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description-of-work {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.position-text {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #212121;
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: inline-block;
    width: 450px;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 570px;
  }
}

.form-footer__email {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-bg-color);
}

.form-footer__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-footer__email {
    width: 358px;
  }
}

.form-footer__button {
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px 8px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__button:focus, .form-footer__button:hover {
  background-color: #188ce8;
}

.form-footer__button::after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  background-image: url(../images/icon/icon-send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
}

.form__title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.form__label-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(47, 48, 58, 0.8);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field label {
  margin-bottom: 4px;
}

.form__field textarea {
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-left: 16px;
  font-family: Roboto;
  font-style: 400;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.btn-modal {
  padding: 10px 55px;
  margin: 0 auto;
  width: 200px;
  margin-top: 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover, .btn-modal:focus {
  background: #188ce8;
}

.form__field-position {
  position: relative;
}

.svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__input:focus + .svg-icon,
.form__input:hover + .svg-icon {
  fill: var(--accent-color);
}

.form__input {
  padding-left: 40px;
  position: relative;
}

.form__input:focus, .form__input:hover {
  border: 1px solid var(--accent-color);
}

.modal-checkbox {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-checkbox::before {
  display: inline-block;
  vertical-align: sub;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 12px;
}

.checkbox:checked + .modal-checkbox::before {
  border: 2px solid var(--accent-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-button {
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: #212121;
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  border: 0px;
  padding: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
}

.footer-icon__link, .icon-set__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */