.header {
  border-bottom: 1px solid #ececec;
}

.header_container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sant-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo_logo-color_accent {
  color: #2196f3;
}

.logo_color_black {
  color: #000000;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu_position_bottom-border {
  position: relative;
}

.menu {
  display: flex;
  margin-left: 93px;

  & .menu-item + .menu-item {
    margin-left: 50px;
  }
}

.after-item::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.menu-link .current {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;

  & .contact-list__item + .contact-list__item {
    margin-left: 50px;
  }
}

.contact-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  vertical-align: middle;

  .contact-list__link:hover & {
    fill: var(--accent-color);
  }

  .contact-list__link:focus & {
    fill: var(--accent-color);
  }
}

.menu-link,
.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
